html, body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url('../img/bg.jpg');
    background-color: #000;
    background-position: top;
    background-repeat: no-repeat;

}

#wrapper{
    width: 1200px;
    margin: auto;
    position: relative;
    padding-top: 84px;
}

a{
    text-decoration: none;
    color: white;
}

h1, h2{
    text-transform: uppercase;
}

input
{
    font-size: 150%;
}

button{
    font-size: 150%;
}


/*
**********************************
LOGO Inklusive Animation per CSS Sprite
**********************************
*/
#logo{
    background: url('../img/logo_sprite.png') left center;
    width: 406px;
    height: 216px;
    margin: auto;
    position: relative;
    animation: play 5s steps(22) infinite;
}
@keyframes play {
    100% { background-position: -8932px; }
}

/*
**********************************
FAQ BANNER
**********************************
*/
#faq_banner{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    color: #2e2750;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px;
}

#faq_banner a{
    color: #2e2750;
    text-decoration: none;
}
#faq_banner a:hover{
    color: #000;
    text-decoration: none;
}

#faq_banner::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #FFF;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;

}

/*
**********************************
NAVIGATION
**********************************
*/

#navi ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
}

#navi ul li{
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}


#navi ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 40px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;

}
#navi ul li a:hover{
    background-color: #FFF;
    color: #2e2750;
    outline: 10px solid #FFF;
}

#navi ul li a.active{
    background-color: #FFF;
    color: #2e2750;
    outline: 10px solid #FFF;
    position: relative;
    overflow: visible;
}

#navi ul li a.active::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #FFF;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;

}

/*
**********************************
Content
**********************************
*/

#content{
    #display: none;
}

/*
**********************************
Spiele
**********************************
*/

ul#spiele{
    margin: 0;
    padding: 0;

    display: block;
}

ul#spiele a{
    color: red;
}

ul#spiele li{
    display: block;
    width: 260px;
    border: 6px solid #FFF;
    float: left;
    margin: 14px;
    height: 280px;
    position: relative;
}

ul#spiele li .game{
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

ul#spiele li .game_name{
    position: absolute;
    z-index: 2;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #FFF;
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    line-height: 32px;
    text-transform: uppercase;
    width: 240px;
}


/* Spiele Info Anzeige beim Hovern */
ul#spiele li:hover .info{
    display: block;
    cursor: pointer;
}
ul#spiele li .info{
    display: none;
    background-color: #FFF;
    position: absolute;
    width: 580px;
    height: 319px;
    z-index: 30;
    top: -20px;
    border: 6px solid #fff;
    -webkit-box-shadow: -1px 0 108px -34px rgba(0,0,0,0.9);
    -moz-box-shadow: -1px 0 108px -34px rgba(0,0,0,0.9);
    box-shadow: -1px 0 108px -34px rgba(0,0,0,0.9);
}


/* Infobox links oder rechts Anzeigen */
ul#spiele li .info.right{
    left: -20px;
}
ul#spiele li .info.left{
    right: -20px;
}
ul#spiele li .info.right .info_text{
    left: 320px;
}
ul#spiele li .info.left .info_text{
    left: 20px;
}
ul#spiele li .info.left .game_info{
    right: 0;
    position: absolute;
}

ul#spiele li .info .game_info{
    width: 300px;
    height: 100%;
}

ul#spiele li .info .game_name_info{

    position: relative;
    text-align: center;
    padding-top: 42%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-size: 26px;
    height: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}

ul#spiele li .info .info_text{
    position: absolute;
    top: 20px;
}










/*
**********************************
Footer
**********************************
*/
#footer{
    margin-top: 50px;
    padding: 20px;
}

#footer .inner{
    text-transform: uppercase;
    border-top: 6px #fff solid;
    color: #FFF;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
}


/*
**********************************
Player
**********************************
*/

#player_container{
    #background-color: #FFF;
    display: none;
}

#player_title{
    text-transform: uppercase;
    color: white;
    font-size: 120%;
}

#player_pun{
    text-transform: uppercase;
    color: white;
    font-size: 75%;
}

.play{
    color: red;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe,
.embed-container object,
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
**********************************
MISC
**********************************
*/

.disclaimer{
    font-size: 70%;
}

.well{
    padding: 10px;
    background-color: white;
}

.well a{
    color: red;
}

#vote{
    text-align: center;
}

.featherlightbox{
    display: none;
}

.featherlightbox a{
    color: red;
}

.btnstack{
    padding-top: 30px;
    text-align: center;
}

.btn{
    text-transform: uppercase;
    font-size: 300%;
    padding: 15px;
    margin-left: 10px;
    border: 6px solid white;
}

.btn:hover{
    background-color: #FFF;
    color: #2e2750;
    outline: 10px solid #FFF;
}

.is_new{
    width: 100px;
    background-color:white;
    color: red;
    text-align: center;
}

.centered{
    text-align: center;
}

#vote-form{
    font-size: 150%;
}

#vote-form li{
    list-style: none;
}

#headline{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #880ee6;
}

/**
 * Checkbox Four
 */
.checkboxFour {
    width: 40px;
    height: 40px;
    background: #ddd;
    margin: 20px 90px;

    border-radius: 100%;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

/**
 * Create the checkbox button
 */
.checkboxFour label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: #333;

    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

/**
 * Create the checked state
 */
.checkboxFour input[type=checkbox]:checked + label {
    background: #26ca28;
}

#vote-area{
    text-align: center;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#poll-option{
    background-color: #c5c5c5;
    width: 20%;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}