div#faq_banner
    a(href="#" data-featherlight="#faqlightbox") Wie funktioniert das Voting?
    div#faqlightbox.featherlightbox.
        Sofern ausreichend potentielle Kandidaten eingetragen worden sind startet das Voting für Neuzugänge zur Wall of Hype.<br>
        Das Votingformular ist Multiple-Choice, heißt: Ihr könnt mehrere Stimmen gleichzeitig abgeben. Das Voting ist eine Woche offen!<br>
        Die Top 5 (kann variieren) wird dann der Community Wall of Hype hinzugefügt.<br><br>
        ## Countdown, Ankündigungen etc. werden später implementiert. ##
