div#player_container
    h2
        span#player_title %title%
        span &nbsp;&nbsp;&nbsp;
        span#player_pun %pun%
    div#player_box
        div.embed-container
            iframe(src='https://www.youtube.com/embed/fYF2LZyhSCE' frameborder='0' allowfullscreen)