div#vote
    h1(style="color:white) GamesCom Voting - Runde 2
    h1(style="color:white") Die Top <b style="color:red">8</b> betritt die Community Wall of Hype
    h2(style="color:white") Das Voting läuft bis zum <b style="color:red">Sonntag, 23.08, 20 Uhr.</b>
    iframe(src="https://strawpoll.me/embed_1/#{pollId}" style="width: 600px; height: 1500px; border: 0;") ...
