div#vote
    h1(style="color:white") Communityvoting TGS Edition
    h1(style="color:white") Die Top <b style="color:red">5</b> betritt die Community Wall of Hype
    h2(style="color:white") Das Voting läuft bis zum <b style="color:red">Montag, 28.09, 20 Uhr.</b>
    iframe(src="https://strawpoll.me/embed_1/#{pollId}" style="width: 600px; height: 1500px; border: 0;") ...
