div.inner
    p.disclaimer Ich bin mir bewusst, dass Werbung gehasst wird. Die Werbung hilft aber Hostingkosten zu eliminieren.
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    // <!-- woh-- >
    ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-4423947116436061" data-ad-slot="3187715801" data-ad-format="auto")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    a(href="/imprint") Impressum
    span &nbsp;&nbsp;&nbsp;
    a(href="/datenschutz") Datenschutz
    p
        a(href="http://www.twitter.com/ekrowsama") @ekrowsama 2015
