ul
    li
        a#nav-official(href="/") Official Wall
    li
        a#nav-community(href="/community") Community Wall
    li
        a#nav-voting(href="/voting") Voting
    li
        a#nav-released(href="/released") Released Wall