div#about
    p.question Wie kann ich mein Spiel vorschlagen?
    p.answer Das Formular für neue Einträge befindet sich oben. Es werden jederzeit neue Vorschläge entgegengenommen
    p.question Wie funktioniert die Wall?
    p.answer Gelegentlich wird eine neue StrawPoll-Umfrage gestartet, die die Wall um neue Games erweitert.
    p.question Was passiert mit Spielen die released wurden?
    p.answer Diese befinden sich im "Released Wall" Tab
    hr