div#about
    p.question Q: Welche Spiele landen hier?
    p.answer.
        Spiele aus der Offiziellen und Community Wall of Hype, die bereits veröffentlicht wurden. Auch Games,
        die nur kurz auf einer Wall zu finden waren, werden hier angezeigt.
    hr