div#about
    p.question Q: Was genau ist das hier eigentlich?
    p.answer Eine Abbildung der Wall of Hype aus der RocketbeansTV-Sendung "GAME plus"!
    p.question Q: Welche Spiele landen auf der Wall of Hype?
    p.answer Das bestimmen Simon und Dennis bzw. die Redaktion von GAME plus.
    p.question Q: Gibt es eine Möglichkeit selbst mitzuwirken?
    p.answer Ja. Mehr Infos dazu gibts im Tab "Community Wall"
    p.question Q: Kann ich mich auch an der Entwicklung beteiligen?
    p.answer
        a(target="_blank" href="https://github.com/Ekrow/Wall-of-Hype") Sure, alles Open Source (MIT-Lizenz)
    p.question Q: Wer macht diese Seite hier eigentlich?
    p.answer
        a(target="_blank" href='http://www.twitter.com/ekrowsama') Ich natürlich.
    hr