extends layouts/layout
block content
    form(action='/posthistory' method='post')
        div.form-group
            label index
            input.form-control(type='text' name='index')
        div.form-group
            label date
            input.form-control(type='text' name='date')
        div.form-group
            label game1-id
            input.form-control(type='text' name='game1')
        div.form-group
            label game2-id
            input.form-control(type='text' name='game2')
        div.form-group
            label game3-id
            input.form-control(type='text' name='game3')
        div.form-group
            label game4-id
            input.form-control(type='text' name='game4')
        div.form-group
            label game5-id
            input.form-control(type='text' name='game5')
        button.btn.btn-warning.btn-lg(type='submit') Create History