extends layouts/layout
block content
    include faq_index
    include player
    include wall
    div(style="clear:both")
    div.btnstack
        a.btn(href="#" data-featherlight="#faqlightbox") FAQ
    script.
        $("#nav-official").addClass("active");
