div#links
    p Check out RocketbeansTV@
        a(target='_blank' href='http://www.twitch.tv/rocketbeanstv') Twitch
        span //
        a(target='_blank' href='http://www.twitter.com/therocketbeans') Twitter
        span //
        a(target='_blank' href='https://de-de.facebook.com/RocketBeansTV') Facebook
        span //
        a(target='_blank' href='https://rocketbeans.reddit.com') Reddit
        span //
        a(target='_blank' href='https://youtube.com/rocketbeanstv') YouTube