extends layouts/layout
block content
    h1 create new game
    form(action='/create' method='post')
        div.form-group
            label title
            input.form-control(type='text' name='title')
        div.form-group
            label description
            input.form-control(type='text' name='description')
        div.form-group
            label dev
            input.form-control(type='text' name='developer' )
        div.form-group
            label publisher
            input.form-control(type='text' name='publisher' )
        div.form-group
            label homepage
            input.form-control(type='text' name='homepage')
        div.form-group
            label coverart
            input.form-control(type='text' name='coverart')
        div.form-group
            label Video-ID
            input.form-control(type='text' name='trailerID')
        div.form-group
            label releasedate
            input.form-control(type='text' name='releasedate')
        div.form-group
            label community
            input.form-control(type='text' name='community')
        div.form-group
            label official
            input.form-control(type='text' name='official')
        div.form-group
            label active
            input.form-control(type='text' name='active')
        div.form-group
            label released
            input.form-control(type='text' name='released')
        button.btn.btn-warning.btn-lg(type='submit') Add Game
    script.
        PAGE_TYPE = 'new'