div#suggest
        h2 Neues Spiel vorschlagen
        form.form-horizontal(id='suggestform' action='/suggest' method='post')
            div.form-group
                label.col-sm-2.control-label(for="game") Wie lautet der Name des Spiels?
                div.col-sm-3
                    input.form-control(id='game' type='text' name='game' required)
            div.form-group
                label.col-sm-2.control-label(for="captcha") Captcha
                div.col-sm-3
                    div.g-recaptcha(id="captcha" data-sitekey="6LdCIwcTAAAAAEkoBo298n222l7U1inJEr7OOYkC" data-expired-callback="captcha_expired" data-callback="captcha_filled")
                    button.btn.btn-warning.btn-lg(type='submit') Spiel vorschlagen
        hr