div#wall-nav
    a#nav-official(href="/") Official Wall
    a#nav-community(href="/community") Community Wall
    a#nav-voting(href="/voting") Voting
    a#nav-released(href="/released") Released Wall